* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Caveat", cursive;
        font-family: "Kanit", sans-serif;
        font-family: "Montserrat", sans-serif;
        font-family: "Open Sans", sans-serif;
        font-family: "Poppins", sans-serif;
        font-family: "Varela Round", sans-serif;
}
.heading {
        color: red;
        text-align: center;
        font-size: 3rem;
}
.imgs {
        width: 70%;
        margin: 40px auto;
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
}
img {
        height: 300px;
        width: 300px;
}

.container {
        margin: 70px 0px;
}
